.soccer-position-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the sidebar vertically with the pitch */
  height: 100%; /* Full height */
}



.view-toggle-width {
  display: flex;
  justify-content: center;
}

.view-toggle {
  display: flex;
  margin: 10px 0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

.tab.active {
  background-color: #bbb;
}

.tactic-row-thingy {
  display: flex;
  flex: 1;
}

.pitch-section {
  flex: 2;
  padding-top: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-left: 2px solid #ddd;
}

.tactic-info, .position-details {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.form-group {
  margin-bottom: 15px;
}

.form-field {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formation-list {
  margin-top: 20px;
}

.formation-list button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.formation-list button:hover {
  background-color: #005f6b;
}

@media (max-width: 768px) {
  .soccer-position-form-container {
    flex-direction: column;
  }

  .view-toggle-width {
    display: flex;
    justify-content: center;
  }

  .view-toggle {
    display: flex;
  }

  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  .tab.active {
    background-color: #bbb;
  }

  .tactic-row-thingy {
    display: flex;
    flex-direction: column;
  }

  .pitch-section {
    flex: 1;
  }

  .sidebar {
    width: 45vh;
    border-left: none; /* Remove border on mobile */
    border-top: 2px solid #ddd; /* Add border to the top */
    margin-top: 10px; /* Add margin to separate from pitch */
    margin-left: 0px;
  }

  .tactic-info, .position-details {
    margin-bottom: 0; /* Remove bottom margin on mobile */
  }
}
